body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
}

#homepage{
background-color: black;
}

.imgsize{
    width: 500px;
    height: 400px;
    text-align: center;
}

.menu:hover{
    color: rgba(47, 120, 168, 0.459);
}

.menu{
    background-color: #ece7f2;
    text-align: center;
}

.borders{
    visibility: visible;
    border: 5px;
    border-style: groove;
    border-color: #fc67e3;
}

a {
    color: #fc67e3;

}