<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
	<div class="displayDiv">
		<p>Mouse X Position :</p>
		<p id="mouseX"></p>
		<p>Mouse Y Position :</p>
		<p id="mouseY"></p>
	</div>
	<div id="divWithText" class="displayDiv">"Sed ut perspiciatis
		unde omnis iste natus error sit voluptatem accusantium doloremque
		laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
		veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo
		enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
		sed quia consequuntur magni dolores eos qui ratione voluptatem sequi
		nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit
		amet, consectetur, adipisci velit, sed quia non numquam eius modi
		tempora incidunt ut labore et dolore magnam aliquam quaerat
		voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem
		ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
		consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate
		velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum
		fugiat quo voluptas nulla pariatur?"</div>

	<div id="div3" class="displayDiv">
		<div id="div4" class="displayDiv" onclick="alert ('hello from div 4')">
			<div id="div5" class="displayDiv">
				<div id="div6" class="displayDiv">
					<div id="div7" class="displayDiv"></div>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="../scripts/events.js"></script>
</html>