<div style="text-align:center">
  <div class="container" style="text-align:center">
    <h1>Whales</h1>
    <form target="blueWhales">
      <div class="form-group" style="text-align:center">
        <label for="name">Username</label>
        <input type="text" class="form-control" id="name" required>
      </div>

      <div class="form-group" style="text-align:center">
        <label for="pass">Password</label>
        <input type="password" class="form-control" id="pass">
      </div>

      <br>

      <a href="blueWhales" class="btn btn-primary buttonSpace">Submit</a>

    </form>
  </div>
</div>