<form action="FormResult.html">
  <div class="container">

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">

        <div class="row">
          <div class="panel panel-danger">
            <div class="panel-body">Cat Adoption Application</div>
          </div>
        </div>
        <div class="row">
          <img src="https://3c1703fe8d.site.internapcdn.net/newman/gfx/news/hires/2017/docatspurrwh.jpg" class="img-rounded" alt="gray cat"
            width="100%">
        </div>

        <br>
        <div class="row">

          <div class="col-md-6">
            <div class="form-group">
              <label for="sel1"> Cats : breed</label>
              <select class="form-control" id="sel1">
                <option>domestic short</option>
                <option>Bangal</option>
                <option>domestic long hair</option>
                <option>sham</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="sel1">Color</label>
              <select class="form-control" id="sel1">
                <option>black</option>
                <option>white</option>
                <option>grey</option>
                <option>brown</option>
              </select>
            </div>
          </div>

        </div>


        <div class="row">

          <table class="table table-hover">
            <thead>
              <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Cat name: {{app-cat.cats[0].name}}</td>
                <td>Cat ID: {{app-cat.cats[0].id}}</td>
              </tr>
              <tr>
                <td>Cat name: {{app-cat.cats[1].name}}</td>
                <td>Cat ID: {{app-cat.cats[1].id}}</td>
              </tr>
              <tr>
                <td>Cat name: {{app-cat.cats[2].name}}</td>
                <td>Cat ID: {{app-cat.cats[2].id}}</td>
              </tr>
            </tbody>
          </table>

        </div>

        <div class="row">

          <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" id="email">
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd">
          </div>
          <div class="form-group">
            <label for="name">name:</label>
            <input type="name" class="form-control" id="name">
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox"> Remember me</label>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>

        </div>


      </div>




      <div class="col-md-2"></div>
    </div>








  </div>
</form>