<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Project1Reimbersments</display-name>
  <servlet>
    <servlet-name>requestUpload</servlet-name>
    <servlet-class>servlets.RequestUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>requestUpload</servlet-name>
    <url-pattern>/requestUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>loginPage</display-name>
    <servlet-name>loginPageServlet</servlet-name>
    <servlet-class>servlets.loginPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginPageServlet</servlet-name>
    <url-pattern>/loginPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>EmployeeProfileServlet</display-name>
    <servlet-name>EmployeeProfileServlet</servlet-name>
    <servlet-class>servlets.EmployeeProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeProfileServlet</servlet-name>
    <url-pattern>/EmployeeProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionServlet</display-name>
    <servlet-name>SessionServlet</servlet-name>
    <servlet-class>servlets.SessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServlet</servlet-name>
    <url-pattern>/Session</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayImage</display-name>
    <servlet-name>DisplayImage</servlet-name>
    <servlet-class>servlets.DisplayImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayImage</servlet-name>
    <url-pattern>/DisplayImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestDocumentServlet</display-name>
    <servlet-name>RequestDocumentServlet</servlet-name>
    <servlet-class>servlets.RequestDocumentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestDocumentServlet</servlet-name>
    <url-pattern>/RequestDocumentServlet</url-pattern>
  </servlet-mapping>
</web-app>