<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Project1Reimbersments</display-name>
  <servlet>
    <servlet-name>requestUpload</servlet-name>
    <servlet-class>servlets.RequestUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>requestUpload</servlet-name>
    <url-pattern>/requestUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>loginPage</display-name>
    <servlet-name>loginPageServlet</servlet-name>
    <servlet-class>servlets.loginPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginPageServlet</servlet-name>
    <url-pattern>/loginPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>EmployeeProfileServlet</display-name>
    <servlet-name>EmployeeProfileServlet</servlet-name>
    <servlet-class>servlets.EmployeeProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeProfileServlet</servlet-name>
    <url-pattern>/EmployeeProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionServlet</display-name>
    <servlet-name>SessionServlet</servlet-name>
    <servlet-class>servlets.SessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServlet</servlet-name>
    <url-pattern>/Session</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayImage</display-name>
    <servlet-name>DisplayImage</servlet-name>
    <servlet-class>servlets.DisplayImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayImage</servlet-name>
    <url-pattern>/DisplayImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestDocumentServlet</display-name>
    <servlet-name>RequestDocumentServlet</servlet-name>
    <servlet-class>servlets.RequestDocumentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestDocumentServlet</servlet-name>
    <url-pattern>/RequestDocumentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewRequestsServlet</display-name>
    <servlet-name>ViewRequestsServlet</servlet-name>
    <servlet-class>servlets.ViewRequestsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewRequestsServlet</servlet-name>
    <url-pattern>/ViewRequestsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewResolvedRequests</display-name>
    <servlet-name>ViewResolvedRequests</servlet-name>
    <servlet-class>servlets.ViewResolvedRequests</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewResolvedRequests</servlet-name>
    <url-pattern>/ViewResolvedRequests</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomePageServlet</display-name>
    <servlet-name>HomePageServlet</servlet-name>
    <servlet-class>servlets.HomePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomePageServlet</servlet-name>
    <url-pattern>/HomePage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewRequest</display-name>
    <servlet-name>NewRequest</servlet-name>
    <servlet-class>servlets.NewRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewRequest</servlet-name>
    <url-pattern>/NewRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerLogin</display-name>
    <servlet-name>ManagerLogin</servlet-name>
    <servlet-class>servlets.ManagerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerLogin</servlet-name>
    <url-pattern>/ManagerLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerProfile</display-name>
    <servlet-name>ManagerProfile</servlet-name>
    <servlet-class>servlets.ManagerProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerProfile</servlet-name>
    <url-pattern>/ManagerProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayManagerProfilePicture</display-name>
    <servlet-name>DisplayManagerProfilePicture</servlet-name>
    <servlet-class>servlets.DisplayManagerProfilePicture</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayManagerProfilePicture</servlet-name>
    <url-pattern>/DisplayManagerProfilePicture</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllEmployees</display-name>
    <servlet-name>ViewAllEmployees</servlet-name>
    <servlet-class>servlets.ViewAllEmployees</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllEmployees</servlet-name>
    <url-pattern>/ViewAllEmployees</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllResolvedRequests</display-name>
    <servlet-name>ViewAllResolvedRequests</servlet-name>
    <servlet-class>servlets.ViewAllResolvedRequests</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllResolvedRequests</servlet-name>
    <url-pattern>/ViewAllResolvedRequests</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewUnresolvedRequests</display-name>
    <servlet-name>ViewUnresolvedRequests</servlet-name>
    <servlet-class>servlets.ViewUnresolvedRequests</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewUnresolvedRequests</servlet-name>
    <url-pattern>/ViewUnresolvedRequests</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateRequest</display-name>
    <servlet-name>UpdateRequest</servlet-name>
    <servlet-class>servlets.UpdateRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRequest</servlet-name>
    <url-pattern>/UpdateRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestIdServlet</display-name>
    <servlet-name>RequestIdServlet</servlet-name>
    <servlet-class>servlets.RequestIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestIdServlet</servlet-name>
    <url-pattern>/RequestIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewRequestDocument</display-name>
    <servlet-name>ViewRequestDocument</servlet-name>
    <servlet-class>servlets.ViewRequestDocument</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewRequestDocument</servlet-name>
    <url-pattern>/ViewRequestDocument</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayReimbersmentDoc</display-name>
    <servlet-name>DisplayReimbersmentDoc</servlet-name>
    <servlet-class>servlets.DisplayReimbersmentDoc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayReimbersmentDoc</servlet-name>
    <url-pattern>/DisplayReimbersmentDoc</url-pattern>
  </servlet-mapping>
</web-app>