div {
	background-color: #41b6c4;
}

.classOne {
	color: #005824;
	font-family: "courier new";
	text-align: center;
}

img {
	display: block;
}

#coolPenguin {
	display: block;
	padding: 40px;
	margin: 40px;
	border-style: solid;
	border-color: red;
	border-width: 10px;
}

.bobRoss {
	margin: 50px;
	background-color: #8fa42c;
}