<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Project1</display-name>
  <display-name>Project1</display-name>
  <welcome-file-list>
    <welcome-file>views/index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>insertimage</servlet-name>
    <servlet-class>com.revature.servlets.InsertImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertimage</servlet-name>
    <url-pattern>/insertimage</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>employeelogin</display-name>
    <servlet-name>employeelogin</servlet-name>
    <servlet-class>com.revature.servlets.EmployeeLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>employeelogin</servlet-name>
    <url-pattern>/employeelogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>employeehomepage</servlet-name>
    <servlet-class>com.revature.servlets.EmployeeHomepageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>employeehomepage</servlet-name>
    <url-pattern>/employeehomepage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>employeelogout</servlet-name>
    <servlet-class>com.revature.servlets.EmployeeLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>employeelogout</servlet-name>
    <url-pattern>/employeelogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>errorservlet</servlet-name>
    <servlet-class>com.revature.servlets.ErrorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>errorservlet</servlet-name>
    <url-pattern>/errorservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>employeeviewinfo</display-name>
    <servlet-name>employeeviewinfo</servlet-name>
    <servlet-class>com.revature.servlets.EmployeeViewInformationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>employeeviewinfo</servlet-name>
    <url-pattern>/employeeviewinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>session</display-name>
    <servlet-name>session</servlet-name>
    <servlet-class>com.revature.servlets.SessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>session</servlet-name>
    <url-pattern>/session</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateinfo</servlet-name>
    <servlet-class>com.revature.servlets.UpdateInformationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateinfo</servlet-name>
    <url-pattern>/updateinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>submitreimbursement</display-name>
    <servlet-name>submitreimbursement</servlet-name>
    <servlet-class>com.revature.servlets.SubmitReimbursementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>submitreimbursement</servlet-name>
    <url-pattern>/submitreimbursement</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>employeeviewinformation</servlet-name>
    <servlet-class>com.revature.servlets.EmployeeViewInformationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>employeeviewinformation</servlet-name>
    <url-pattern>/employeeviewinformation</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>employeegetpending</display-name>
    <servlet-name>employeegetpending</servlet-name>
    <servlet-class>com.revature.servlets.EmployeeGetPendingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>employeegetpending</servlet-name>
    <url-pattern>/employeegetpending</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>employeegetresolved</display-name>
    <servlet-name>employeegetresolved</servlet-name>
    <servlet-class>com.revature.servlets.EmployeeGetResolvedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>employeegetresolved</servlet-name>
    <url-pattern>/employeegetresolved</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>employeegetreimbursement</display-name>
    <servlet-name>employeegetreimbursement</servlet-name>
    <servlet-class>com.revature.servlets.EmployeeGetReimbursementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>employeegetreimbursement</servlet-name>
    <url-pattern>/employeegetreimbursement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>managerlogin</display-name>
    <servlet-name>managerlogin</servlet-name>
    <servlet-class>com.revature.servlets.ManagerLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>managerlogin</servlet-name>
    <url-pattern>/managerlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>managerhomepage</display-name>
    <servlet-name>managerhomepage</servlet-name>
    <servlet-class>com.revature.servlets.ManagerHomepageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>managerhomepage</servlet-name>
    <url-pattern>/managerhomepage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>managerlogout</display-name>
    <servlet-name>managerlogout</servlet-name>
    <servlet-class>com.revature.servlets.ManagerLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>managerlogout</servlet-name>
    <url-pattern>/managerlogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>managergetreimbursement</display-name>
    <servlet-name>managergetreimbursement</servlet-name>
    <servlet-class>com.revature.servlets.ManagerGetReimbursementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>managergetreimbursement</servlet-name>
    <url-pattern>/managergetreimbursement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>managergetpending</display-name>
    <servlet-name>managergetpending</servlet-name>
    <servlet-class>com.revature.servlets.ManagerGetPendingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>managergetpending</servlet-name>
    <url-pattern>/managergetpending</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>managergetresolved</display-name>
    <servlet-name>managergetresolved</servlet-name>
    <servlet-class>com.revature.servlets.ManagerGetResolvedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>managergetresolved</servlet-name>
    <url-pattern>/managergetresolved</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>managergetemployee</display-name>
    <servlet-name>managergetemployee</servlet-name>
    <servlet-class>com.revature.servlets.ManagerGetEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>managergetemployee</servlet-name>
    <url-pattern>/managergetemployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>managergetsingleemployee</display-name>
    <servlet-name>managergetsingleemployee</servlet-name>
    <servlet-class>com.revature.servlets.ManagerGetSingleEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>managergetsingleemployee</servlet-name>
    <url-pattern>/managergetsingleemployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>managerviewreimbursement</display-name>
    <servlet-name>managerviewreimbursement</servlet-name>
    <servlet-class>com.revature.servlets.ManagerViewReimbursementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>managerviewreimbursement</servlet-name>
    <url-pattern>/managerviewreimbursement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>managerapprovedeny</display-name>
    <servlet-name>managerapprovedeny</servlet-name>
    <servlet-class>com.revature.servlets.ManagerApproveDenyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>managerapprovedeny</servlet-name>
    <url-pattern>/managerapprovedeny</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>imagefetcher</display-name>
    <servlet-name>imagefetcher</servlet-name>
    <servlet-class>com.revature.servlets.ImageFetcherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>imagefetcher</servlet-name>
    <url-pattern>/imagefetcher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>employeeviewreimbursement</display-name>
    <servlet-name>employeeviewreimbursement</servlet-name>
    <servlet-class>com.revature.servlets.EmployeeViewReimbursementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>employeeviewreimbursement</servlet-name>
    <url-pattern>/employeeviewreimbursement</url-pattern>
  </servlet-mapping>

</web-app>