@charset "ISO-8859-1";

.box {
	background-color:#3daa8f;
	margin:40px;
	padding:20px;
	border:solid;
	border-width:5px;
}

body{
	background-color:#225f50;
}

a{
	background-color:#3daa8f;
	margin:10px;
	border: solid;
	border-width:3px;
}