<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>EmployeeViewPendingRequests</title>
<link rel="stylesheet" href="styles/customStyles.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>

	<div>
		<br> <a href="employeehome">Home</a> <br> <br>
		<br>
	</div>

	<table id="myTable" style="width: 100%">
		<tr>
			<th>Amount</th>
			<th>Description</th>
			<th>Status</th>
		</tr>
	</table>

</body>
<script src="scripts/ajaxEmployeePending.js"></script>
</html>