<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>ManagerViewRequestsByEmpl</title>
</head>
<body>
	<form class="box" action="selectemployee" method="post">
		<p>Update Information:</p>
		<select name="updateselection" id="myselect">
			<option value="address">Street Address</option>
			<option value="city">City</option>
			<option value="state">State</option>
			<option value="phonenumber">Phone Number</option>
		</select> <input name="updatevalue" type="text"> <input type="submit"
			value="Update">
	</form>
</body>
</html>