<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>MangerViewEmployees</title>
<link rel="stylesheet" href="styles/customStyles.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
	<div>
		<br> <a href="managerhome">Home</a> <br><br><br>
	</div>
	
		<table id="myTable" style="width: 100%">
		<tr>
			<th>Email/Username</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Street Address</th>
			<th>City</th>
			<th>State</th>
			<th>Phone Number</th>
		</tr>
	</table>
</body>
<script src="scripts/ajaxAllEmployees.js"></script>
</html>