<!DOCTYPE html>

<html>
	<head>
	<meta charset ="ISO-8250-1">
	<title>HelloWorld</title>
		<link rel="sytlesheet" href="../styles/HelloWorldStyles.css"/>
	</head>
	<body>
		<div class="displayDiv">
			<p>mouse x position: </p><p id="mouseX"></p><br>
			<p>mouse y position: </p><p id="mouseY"></p>
		</div>
		<div id="divWithText" class="displayDiv">
			<p id="p1">
			Anyone can paint. In painting, you have unlimited power. 
			You have the ability to move mountains. You can bend rivers. 
			But when I get home, the only thing I have power over is the garbage. 
			I guess I'm a little weird. I like to talk to trees and animals. 
			That's okay though; I have more fun than most people.
			</p>
			<br><br>
		</div>
		
		<div id="div3" class="displayDiv">
			<div id="div4" class ="displayDiv" onclick="alert ('hello from div4')>
				<div id="div5" class ="displayDiv">
					<div id="div6" class ="displayDiv">
						
					</div>
				</div>
			</div>
		</div>
		
	</body>
	<script src="../scripts/events.js"></script>
</html>