<!DOCTYPE html>

<html>
	<head>
	<meta charset ="ISO-8250-1">
	<title>HelloWorld</title>
		<link rel="sytlesheet" href="../styles/HelloWorldStyles.css"/>
	</head>
	<body>
		<div class="functionDiv">
			<button onclick="getCount()">Increment</button>
		</div>
		<div class="functionDiv">
			<button onclick="getAppleCount()">Increment Apple</button>
		</div>
		<div class="functionDiv">
			<button onclick="getOrangeCount()">Increment Orange</button>
		</div>
		<br> <br>
		<div class="displayDiv" id="bearDiv">
			<button onclick="showBears()">Show Bears!</button>
			<br> <br>
		</div>
		<div class="div5">
			<p id="p1">this is a paragraph</p>
			<p id="p2">this is a different paragraph</p>
			<br> <br>
			
		
		
	</body>
	<script src="../scripts/closure.js"></script>
	<script src="../scripts/parse.js"></script>
	<script src="../scriptswalkTheDom.js"></script>
</html>