<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>ServletDemo</display-name>
  <servlet>
  <servlet-name>calculator</servlet-name>
  <servlet-class>com.revature.servlet.CalculatorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>calculator</servlet-name>
  	<url-pattern>/calculator</url-pattern>
  </servlet-mapping>
  <servlet>
   <servlet-name>answer</servlet-name>
  <servlet-class>com.revature.servlet.AnswerServlet</servlet-class>
  </servlet>
    <servlet-mapping>
  	<servlet-name>answer</servlet-name>
  	<url-pattern>/answer</url-pattern>
  </servlet-mapping>

</web-app>