<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link REL="stylesheet" HREF="../styles/style.css">
</head>
<body>

<div class="login">
	<form action="../login" method="post"><!--Specifies url to which form will be submitted -->

			Your username: <input type="text"  name="username" id="username" /><br>
			Your password :   <input type ="password" name="password" id="password" /><br>
			<br>
			<br>
			<br>
			<br>		
			 <input type="submit" id="submitButton" value="Login"/> 
			 <!--Submits the form data to the form handler -->

			<br>
			</form>
</div>
</body>
</html>
