<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ReimbursementProject</display-name>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.revature.servlet.LoginServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.revature.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmployeeHome</servlet-name>
    <servlet-class>com.revature.servlet.EmployeeHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeHome</servlet-name>
    <url-pattern>/employeehome</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmployeeInfoNav</servlet-name>
    <servlet-class>com.revature.servlet.EmployeeInfoNavServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeInfoNav</servlet-name>
    <url-pattern>/employeeinformation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmployeeInformation</servlet-name>
    <servlet-class>com.revature.servlet.EmployeeInformationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeInformation</servlet-name>
    <url-pattern>/getemployeeinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmployeeInfoUpdate</servlet-name>
    <servlet-class>com.revature.servlet.EmployeeInfoUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeInfoUpdate</servlet-name>
    <url-pattern>/employeeinfoupdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmployeeSubmitNav</servlet-name>
    <servlet-class>com.revature.servlet.EmployeeSubmitNavServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeSubmitNav</servlet-name>
    <url-pattern>/submitnewrequestnav</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmployeeSubmitRequest</servlet-name>
    <servlet-class>com.revature.servlet.EmployeeSubmitRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeSubmitRequest</servlet-name>
    <url-pattern>/submitnewrequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmployeeViewPendingNav</servlet-name>
    <servlet-class>com.revature.servlet.EmployeeViewPendingNavServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeViewPendingNav</servlet-name>
    <url-pattern>/viewpendingrequests</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmployeeViewPendingRequests</servlet-name>
    <servlet-class>com.revature.servlet.EmployeeViewPendingRequestsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeViewPendingRequests</servlet-name>
    <url-pattern>/getpendingrequests</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmployeeViewResolvedNav</servlet-name>
    <servlet-class>com.revature.servlet.EmployeeViewResolvedNavServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeViewResolvedNav</servlet-name>
    <url-pattern>/viewresolvedrequests</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmployeeViewResolvedRequests</servlet-name>
    <servlet-class>com.revature.servlet.EmployeeViewResolvedRequestsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeViewResolvedRequests</servlet-name>
    <url-pattern>/getresolvedrequests</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManagerHome</servlet-name>
    <servlet-class>com.revature.servlet.ManagerHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerHome</servlet-name>
    <url-pattern>/managerhome</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManagerReviewPendingNav</servlet-name>
    <servlet-class>com.revature.servlet.ManagerReviewPendingNavServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerReviewPendingNav</servlet-name>
    <url-pattern>/reviewpendingnav</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManagerReviewPending</servlet-name>
    <servlet-class>com.revature.servlet.ManagerReviewPendingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerReviewPending</servlet-name>
    <url-pattern>/getallpendingrequests</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManagerReviewPendingResolveServlet</servlet-name>
    <servlet-class>com.revature.servlet.ManagerReviewPendingResolveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerReviewPendingResolveServlet</servlet-name>
    <url-pattern>/resolverequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManagerReviewResolvedNav</servlet-name>
    <servlet-class>com.revature.servlet.ManagerReviewResolvedNavServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerReviewResolvedNav</servlet-name>
    <url-pattern>/reviewresolvednav</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManagerReviewResolved</servlet-name>
    <servlet-class>com.revature.servlet.ManagerReviewResolvedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerReviewResolved</servlet-name>
    <url-pattern>/getallresolvedrequests</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManagerViewEmployeesNav</servlet-name>
    <servlet-class>com.revature.servlet.ManagerViewEmployeesNavServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerViewEmployeesNav</servlet-name>
    <url-pattern>/viewemployeesnav</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManagerViewEmployees</servlet-name>
    <servlet-class>com.revature.servlet.ManagerViewEmployeesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerViewEmployees</servlet-name>
    <url-pattern>/getallemployees</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManagerReviewByEmplNav</servlet-name>
    <servlet-class>com.revature.servlet.ManagerReviewByEmplNavServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerReviewByEmplNav</servlet-name>
    <url-pattern>/viewrequestsbyemplnav</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManagerReviewByEmplSelect</servlet-name>
    <servlet-class>com.revature.servlet.ManagerReviewByEmplSelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerReviewByEmplSelect</servlet-name>
    <url-pattern>/selectemployeenav</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManagerReviewByEmplServlet</servlet-name>
    <servlet-class>com.revature.servlet.ManagerReviewByEmplServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerReviewByEmplServlet</servlet-name>
    <url-pattern>/getthisemployeesrequests</url-pattern>
  </servlet-mapping>
</web-app>