<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ReimbursementProject</display-name>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.revature.servlet.LoginServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmployeeHome</servlet-name>
    <servlet-class>com.revature.servlet.EmployeeHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeHome</servlet-name>
    <url-pattern>/employeehome</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmployeeInformation</servlet-name>
    <servlet-class>com.revature.servlet.EmployeeInformationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeInformation</servlet-name>
    <url-pattern>/employeeinformation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmployeeSubmitNav</servlet-name>
    <servlet-class>com.revature.servlet.EmployeeSubmitNavServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeSubmitNav</servlet-name>
    <url-pattern>/submitnewrequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmployeeSubmitRequest</servlet-name>
    <servlet-class>com.revature.servlet.EmployeeSubmitRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeSubmitRequest</servlet-name>
    <url-pattern>/empsubmitnewrequest</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>EmployeeViewPendingNav</servlet-name>
    <servlet-class>com.revature.servlet.EmployeeViewPendingNavServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeViewPendingNav</servlet-name>
    <url-pattern>/viewpendingrequests</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmployeeViewPendingRequestsServlet</servlet-name>
    <servlet-class>com.revature.servlet.EmployeeViewPendingRequestsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeViewPendingRequestsServlet</servlet-name>
    <url-pattern>/getpendingrequests</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>EmployeeViewResolvedRequests</servlet-name>
    <servlet-class>com.revature.servlet.EmployeeViewResolvedRequestsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeViewResolvedRequests</servlet-name>
    <url-pattern>/viewresolvedrequests</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManagerHome</servlet-name>
    <servlet-class>com.revature.servlet.ManagerHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerHome</servlet-name>
    <url-pattern>/managerhome</url-pattern>
  </servlet-mapping>
</web-app>