@charset "UTF-8";

.box {
	
	background-color: #ae1503;
	color:white;
	margin: 40px;
	padding: 20px;
	border:solid;
	border-width:5px;
}

body{
	background-color: #45bc9e;
}

a{
	background-color: #ae1503;
	color:white;
	margin: 10px;
	padding: 10px;
	border: dotted;
	border-width: 3px;
}