<!DOCTYPE html>
<html>
<head>
<title>Employee Home Page</title> 	<!-- 	Where the employee is redirected to after a successful login -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<body>
<!-- 	This is for the navigation bar -->
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Welcome Name</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Home</a></li>
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#">Requests <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="ViewRequests.html">View All Requests</a></li>
						<li><a href="SubmitRequest.html">Submit a New Request</a></li>
					</ul></li>
				<li><a href="AccountInfo.html">View Account Info</a></li>
			</ul>
			
			<ul class="nav navbar-nav navbar-right">
				<li><a href="LogoutPage.html
				"><span class="glyphicon glyphicon-log-out"></span>
						Logout</a></li>
			</ul>
		</div>
	</nav>
	<!-- 	This is for the navigation bar -->
	
	<div class="container">
		<h3>Right Aligned Navbar</h3>
		<p>The .navbar-right class is used to right-align navigation bar
			buttons.</p>
	</div>
	
	
	

</body>
</html>