<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<!-- Where both employees and managers start -->
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>Home page</title>
</head>

<body>
	<div class="jumbotron text-center">
		<h1>Welcome to the Employee Reimbursement Portal</h1>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h3>Employee Portal</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
				<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco
					laboris...</p>
					<form action="EmployeeLogin.html">
					<input type="submit" value="Go To Login"> <br> <br>
					</form> 
					<a href="EmployeeLogin.html" class="btn btn-info" role="button">Go To Login</a>
			</div>
			
			<div class="col-sm-6">
				<h3>Manager Portal</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
				<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco
					laboris...</p>
					<form action="ManagerLogin.html">
					<input type="submit" value="Go To Login"> <br> <br>
					</form>
			</div>

		</div>
	</div>
</body>
</html>