body
{
background-color:powderblue;
}
h1{
	font-family:verdana,arial,sans-serif;
}

#calculatorForm{
	font-family:verdana,arial,sans-serif;
	background-color: violet;
	padding: 15px;
	margin-left:auto;
	margin-right:auto;
	width:350px;
	
}

#addButton{
	background-color:lime;
}
#subButton{
	background-color:green;
	color: white;
}
#multButton{
	background-color:pink;
	color: black;
}
#divideButton{
	background-color:red;
	color: white;
}
#modButton{
	background-color:black;
	color:white;
}