
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <style>
    	body{
    		background-image: url(../background.png);	
    	}
    	
    	
        .container {
       		padding:15px;
       		max-width:30%;
		   	background-color: #c2e7eb;
			border: solid;
			border-radius: 25px;
			border-color: #20B2AA;
			border-width: 5px;
        }
    </style>
    <title>Reimbursement System Sign in</title>

    <!-- Bootstrap core CSS -->
    <link href="../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../styles/signin.css" rel="stylesheet">
    <style>
    	body{
    		background-image: url(../background.png);	
    	}
    </style>
  </head>

  <body class="text-center">
    <div class='container' >
        <h3>That action is not allowed</h3>
        <a class="btn btn-primary btn-lg" href="./employee_home.html">Return to Home</a>
    </div>
  </body>
</html>
