<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Employee Login</title>
	</head>
	<body>
		<h3>Employee Login </h3>
		<form action="employeelogin" method="post">
			<fieldset>
				<legend>username: </legend>
				<input name="username" type="text">
			</fieldset>
			<fieldset>
				<legend>password: </legend>
				<input name="password" type="password">
			</fieldset>
			<br>
			<a href="managerlogin">Go Manager Login Instead</a>
			<br>
			<br>
			<input type="submit" value="Log In" >
		</form>
		
	</body>
</html>