<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>View Information</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<link rel="stylesheet" href="styles/loginStyles.css"/>
</head>
<body>

<div class="container d-flex h-100">
    	
    		<div class="row align-self-center w-100">
    		<div class="row align-self-center w-100"><p>"\n"</p></div>
        		<div class="col-6 mx-auto">
      			
      					<div class=jumbotron>
      						<div class="text-left">
							<h2>Your Information</h2>
							<br>
								<div>
									<table class="table" id="table">
									</table>
								</div>
								<br>
								<a href="employeehomepage">Back to Home Page</a>
						</div>   
            	
        		</div>
    		</div>
		</div>
		</div>
	
</body>
<script src="scripts/EmployeeViewInformation.js"></script>
</html>