<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Update Information</h1>

	<form action="updateinfo" method="post">
		<fieldset>
				<legend>*First Name: </legend>
				<input name="fname" type="text" required>
		</fieldset>
		<fieldset>
				<legend>*Last Name: </legend>
				<input name="lname" type="text" required>
		</fieldset>
		<fieldset>
				<legend>*Email: </legend>
				<input name="email" type="text" required>
		</fieldset>
		<fieldset>
				<legend>Address: </legend>
				<input name="address" type="text">
		</fieldset>
		<br>
		<input type="submit" value="Update Information">
	</form>
	<p>*required</p>
</body>
</html>