<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>View Reimbursement</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<link rel="stylesheet" href="styles/loginStyles.css"/>
</head>
<body>

<div class="container d-flex h-100">
    	
    		<div class="row align-self-center w-100">
    			<div class="row align-self-center w-100"><p>"\n"</p></div>
        		<div class="col-6 mx-auto">
      				

						<div>
							<div class=jumbotron>
							<h2>View Reimbursement</h2>
								<table class="table" id="table">
								</table>
								<img class="rounded mx-auto d-block" id="image" src="" height="200" alt="img output">

								
 							<br>
 							<br>
							<a href="employeehomepage">Back to Homepage</a>
							</div>
						</div>	
							
						   
            	
        		</div>
    		</div>
		</div>

</body>
<script src="scripts/EmployeeViewReimbursement.js"></script>
</html>