<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Employee Homepage</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<link rel="stylesheet" href="styles/loginStyles.css"/>
</head>
<body>
	
	
	<div class="container d-flex h-100">
    	
    		
    		
    		<div class="row align-self-center w-100">
    		<div class="row align-self-center w-100"><p>"\n"</p></div>
        		<div class="col-6 mx-auto">
      			
      					<div class=jumbotron>
      						<div class="text-center">
      						<h3>Welcome Employee</h3>
      						</div>
      						<div class="text-center">
									<a href="updateinfo">update information</a> <br>
								<a href="employeeviewinformation">view information</a> <br>
								<a href="employeegetresolved">view resolved</a> <br>
								<a href="employeegetpending">view pending</a> <br>
								<a href="submitreimbursement">submit request</a> <br>
							</div>
							<br>
							<br>
							<div class="text-center"> 
								<a href="managerlogout">Log out</a>
							</div>
						</div>   
            	
        		</div>
    		</div>
		</div>
	<div>
		

	</div>


</body>
</html>