<html lang="en">

<head>
<title>Employee Page</title>
<link rel="stylesheet" href="../styles/login.css">
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
	integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
	crossorigin="anonymous">
</head>

<body>
	<div class="bg">
		<nav class="navbar navbar-expand-md navbar-dark bg-dark">
			<a class="navbar-brand font-weight-bold border rounded" href="#">Reimbursify</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-item nav-link " href="#">Home <span
						class="sr-only">(current)</span>
					</a> <a class="nav-item nav-link" href="#">View Profile</a> <a
						class="nav-item nav-link" href="#">Reimbursements</a>
				</div>
			</div>
		</nav>

		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item" id="test"><a class="nav-link fill active"
				id="pending-tab" data-toggle="tab" href="#home" role="tab"
				aria-controls="home" aria-selected="true">Pending</a></li>
			<li class="nav-item"><a class="nav-link fill " id="resolved-tab"
				data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
				aria-selected="true">Resolved</a></li>
			<li class="nav-item"><a class="nav-link fill" id="request-tab"
				data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
				aria-selected="true">New Request</a></li>
		</ul>


		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade" id="home" role="tabpanel"
				aria-labelledby="pending-tab" action="/employee">
				<table class="table table-dark">
					<tbody>
						<tr>
							<th>Amount</th>
							<th>Date</th>
							<th>Request ID</th>
						</tr>
						<tr>
							<td>$90.00</td>
							<td>1/23/2018</td>
							<td>18</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="tab-pane fade active show" id="profile" role="tabpanel"
				aria-labelledby="resolved-tab">
				<table class="table table-dark">
					<tr>
						<th>Amount</th>
						<th>Request ID</th>
						<th>Status</th>
					</tr>

				</table>
			</div>

			<div class="tab-pane fade" id="contact" role="tabpanel"
				aria-labelledby="request-tab">
				<form class="form-group col" action="POST">
					<div class="row justify-content-center"></div>
					<div class="row justify-content-center">
						<input class="form-control col-sm-6" name="amount"
							placeholder="Amount" type="text">
					</div>
					<div class="row justify-content-center">
						<div class="form-control row col-sm-6">Photo (optional):</div>
					</div>
					<div class="row justify-content-center">

						<input class="form-control row col-sm-6" name="image"
							accept="image/*" type="file">
					</div>
					<div class="row justify-content-center">

						<input class="form-control row col-sm-6" value="Submit Request"
							type="submit">

					</div>

				</form>
			</div>
		</div>
	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
		integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
		integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
		crossorigin="anonymous"></script>

	<script src="../scripts/employeeAjax.js"></script>

</body>

</html>