<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Employee Homepage</title>
</head>
<body>
	<h1>CONGRATS YOU LOGGED IN CORRECTLY</h1>
	<div>
		<a href="updateinfo">update information</a> <br>
		<a href="employeeviewinformation">view information</a> <br>
		<a href="employeegetresolved">view resolved</a> <br>
		<a href="employeegetpending">view pending</a> <br>
		<a href="submitreimbursement">submit request</a> <br>
		
	</div>
	<div> 
		<a href="employeelogout">Log out</a>
	</div>

</body>

</html>