<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Index</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<link rel="stylesheet" href="styles/loginStyles.css"/>
</head>
<body>
    	
    	<div class="container d-flex h-100">
    	
    		<div class="row align-self-center w-100">
    		<div class="row align-self-center w-100"><p>"\n"</p></div>
        		<div class="col-18 mx-auto">
      			<form class="form-signin">
      					<div class=jumbotron>

						<div class="text-center">
							<h5 class="text-center">Employee Reimbursement Portal</h5>
						</div>
						<br>
						<div class="text-center">
							<h6><a href="employeelogin">Employee Login</a></h6>
						</div>
						<br>
						<div class="text-center">
							<h6><a href="managerlogin">Manager Login</a></h6>
						</div>
						
						</div>   
      			</form>
            	
        		</div>
    		</div>
		</div>
	
</body>
</html>