<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Logout</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<link rel="stylesheet" href="styles/loginStyles.css"/>
</head>
<body>
<div class="container d-flex h-100">
    	
    		<div class="row align-self-center w-100">
    			<div class="row align-self-center w-100"><p>"\n"</p></div>
        			<div class="col-18 mx-auto">
      			
      					<div class=jumbotron>
      						<div class="text-center">
								<h3>You have successfully logged out!</h3>
								<br>
								<br>
								<a href="../Project1/">Back to landing page</a>
							</div>   
            	
        				</div>
    				</div>
				</div>
			</div>

</body>
</html>