<html lang="en">

<head>
<title>Reimbursify Profile</title>
<link rel="stylesheet" href="../styles/login.css">

<link rel="stylesheet" href="styles/background.css">
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
	integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
	crossorigin="anonymous">
</head>

<body>
	<div class="bg">
		<nav class="navbar navbar-expand-md navbar-dark bg-dark">
			<a class="navbar-brand font-weight-bold border rounded" href="#">Reimbursify</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-item nav-link selected" href="#">View Profile</a> <a
						class="nav-item nav-link" href="mreimbursement">Reimbursements</a>
					<a class="nav-item nav-link" href="mresolve">Resolve</a> <a
						class="nav-item nav-link" href="memployees">Employees</a> <a
						class="nav-item nav-link" href="logout">Logout</a>
				</div>
			</div>
		</nav>

		<div class="container col rounded">
			<div class="jumbotron col-sm-6 justify-content-center">
				<form class="field" method="POST" action="updateprofile">
					<h4>Username:</h4>
					<label name="username" id="username"></label>
					<h4>First Name:</h4>
					<input name="firstname" id="firstname"></input>
					<h4>Last Name:</h4>
					<input name="lastname" id="lastname"></input>
					<h4>Position:</h4>
					<label name="position" id="position"></label>
					<h4>Password:</h4>
					<input name="password" id="password"></input>
					<br>
					<br>
					<input type="submit" value="Update Profile">
				</form>
			</div>
		</div>
	</div>
	
	
	<script src="scripts/profileAjax.js"></script>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
		integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
		integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
		crossorigin="anonymous"></script>

	<script src="../scripts/employeeProfileAjax.js"></script>

</body>

</html>