<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>View Pending Reimbursements</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<link rel="stylesheet" href="styles/loginStyles.css"/>
</head>
<body>



		<div class="container d-flex h-100">
    	
    		<div class="row align-self-center w-100">
    			<div class="row align-self-center w-100"><p>"\n"</p></div>
        		<div class="col-12 mx-auto">
      				

						<div>
							<div class=jumbotron>
							<h2>View Pending Reimbursements</h2>
								<table class="table" id="pending">
									<tr>
										<td>Reimbursement Id</td>
										<td>First Name</td>
										<td>Last Name</td>
										<td>Employee Id</td>
										<td>Request Status</td>
										<td>Reimbursement Amount</td>
										<td>Reimbursement Information</td>
									</tr>
								</table>
								<p id="status"></p>
								<br>
								<a href="managerhomepage">Go to Home Page</a>

							</div>
						</div>	
							
						   
            	
        		</div>
    		</div>
		</div>

</body>
<script src="scripts/ManagerGetReimbursement.js"></script>
</html>