<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Single Employee's Information</title>
</head>
<body>
	<h3>Single Employee's Information</h3>

	<div>
		<table id="information">
		</table>
	</div>
	<br>
	<div>
		<table id="reimbursement">
			<tr>
				<td>Reimbursement Id</td>
				<td>Manager Id</td>
				<td>Status</td>
				<td>Reimbursement Amount</td>
				<td>Reimbursement Information<td>
			</tr>
		</table>
	</div>
	<br>
	<p id="status"></p>
	<br>
	<br>
	<a href="managerhomepage"></a>
</body>
<script src="scripts/ManagerGetSingleEmployee.js"></script>
</html>