<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Manager Login</title>
	</head>
	<body>
		<h3>Manager Login </h3>
		<form action="managerlogin" method="post">
			<fieldset>
				<legend>username: </legend>
				<input name="username" type="text">
			</fieldset>
			<fieldset>
				<legend>password: </legend>
				<input name="password" type="password">
			</fieldset>
			<br>
			<a href="employeelogin">Go Employee Login Instead</a>
			<br>
			<br>
			<input type="submit" value="Login">
		</form>
	</body>
</html>