<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Manager Homepage</title>
</head>
<body>
	<h1>CONGRATS YOU LOGGED IN CORRECTLY MR.MANAGER</h1>
	<div>
		<a>approve or deny request</a>
		<a href="managergetpending">view all pending from all employees</a>
		<a href="managergetsingleemployee">view single reimburesement w/ image</a>
		<a href="managergetresolved">view all resolved requests</a>
		<a href="managergetemployee">view all employees</a>
		<a>view reimbursement from single employee</a>

	</div>
	<div> 
		<a href="managerlogout">Log out</a>
	</div>

</body>

</html>