<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Submit Reimbursement</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<link rel="stylesheet" href="styles/loginStyles.css"/>
</head>
<body>


    	<div class="container d-flex h-100">
    	
    		<div class="row align-self-center w-100">
    			<div class="row align-self-center w-100"><p>"\n"</p></div>
        		<div class="col-6 mx-auto">
      				

						<div>
							<div class=jumbotron>
							<h2>Submit Reimbursement</h2>
								<input name="value" type="number" id="value" class="form-control" placeholder="Reimbursement Amount" required>
								<br>
								<input name="image" type="file" id="image" class="form-control" placeholder="Image of reciept" required>
								<br>
								<p>*required</p>
								<input id="submitbutton" type="submit" value="Sumbit Reimbursement">
 							<br>
 							<br>
							<a href="employeehomepage">Back to Homepage</a>
							</div>
						</div>	
							
						   
            	
        		</div>
    		</div>
		</div>

	

</body>
<script src="scripts/InsertImage.js">
</script>
</html>