<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Submit Reimbursement</title>
</head>
<body>
<h1>Submit Reimbursement</h1>

		<fieldset>
				<legend>*Reimbursement Amount: </legend>
				<input id="value" name="reimbursement_val" type="number" required>
		</fieldset>
		<fieldset>
				<legend>Image of Receipt: </legend>
				<input id="image" name="image" type="file" >
		</fieldset>
		<br>
		<input id="submitbutton" type="submit" value="Sumbit Reimbursement">
	<p>*required</p>

	<a href="employeehomepage">Back to Homepage</a>
	

</body>
<script src="scripts/InsertImage.js">
</script>
</html>