<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				  <span class="sr-only">Toggle navigation</span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"><strong>Angular</strong></a>
			</div>
		</div>
		<div class="collapse navbar-collapse">
		 <ul class="nav navbar-nav">
	        <li class="dropdown">
	          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bundling<span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="/npm">NPM</a></li>
							<li><a href="/package">package.json</a></li>
							<li><a href="/cli">Angular CLI</a></li>
	          </ul>
	        </li>
	      </ul>
	      <ul class="nav navbar-nav">
	        <li class="dropdown">
	          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">TypeScript<span class="caret"></span></a>
	          <ul class="dropdown-menu">
							<li><a href="/typescript">Introduction</a></li>
							 <li><a href="/access">Access Modifiers</a></li>
							<li><a href="/class">Classes</a></li>
							<li><a href="/types">Data Types</a></li>
							<li><a href="/decorator">Decorators</a></li>
	          </ul>
	        </li>
				</ul>
				<ul class="nav navbar-nav">
	        <li class="dropdown">
	          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Definitions<span class="caret"></span></a>
	          <ul class="dropdown-menu">
							<li><a href="/module">Modules</a></li>
							<li><a href="/component">Components</a></li>
							<li><a href="/template">Templates</a></li>
							<li><a href="/directive">Directives</a></li>
							<li><a href="/routing">Routing</a></li>
							<li><a href="/di">Dependency Injection</a></li>
							<li><a href="/service">Services</a></li>
							<li><a href="/angularjs">AngularJS vs Angular</a></li>
	          </ul>
	        </li>
				</ul>
				<ul class="nav navbar-nav">
	        <li class="dropdown">
	          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Demo<span class="caret"></span></a>
	          <ul class="dropdown-menu">
							<li><a href="/databinding">Data Binding</a></li>
							<li><a href="/structural">Structural Directive</a></li>
							<li><a href="/pipe">Pipes</a></li>
							<li><a href="/http">HTTP</a></li>
	          </ul>
	        </li>
	      </ul>
	    </div>
	  </div>
</nav>