/* You can add global styles to this file, and also import other style files */
body {
	background-image: url("https://images-na.ssl-images-amazon.com/images/I/41ztfkwnMFL.jpg");
	background-size: cover;
	background-repeat: no-repeat; 
}