<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>EmployeeReimbursementSystem</display-name>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revature.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MasterServlet</servlet-name>
    <servlet-class>com.revature.servlet.MasterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MasterServlet</servlet-name>
    <url-pattern>/MasterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmployeesServlet</servlet-name>
    <servlet-class>com.revature.servlet.EmployeesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeesServlet</servlet-name>
    <url-pattern>/EmployeesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FilesServlet</servlet-name>
    <servlet-class>com.revature.servlet.FilesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilesServlet</servlet-name>
    <url-pattern>/FilesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LookupServlet</servlet-name>
    <servlet-class>com.revature.servlet.LookupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LookupServlet</servlet-name>
    <url-pattern>/LookupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NotesServlet</servlet-name>
    <servlet-class>com.revature.servlet.NotesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NotesServlet</servlet-name>
    <url-pattern>/NotesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RequestServlet</servlet-name>
    <servlet-class>com.revature.servlet.RequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestServlet</servlet-name>
    <url-pattern>/RequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitServlet</display-name>
    <servlet-name>SubmitServlet</servlet-name>
    <servlet-class>com.revature.servlet.SubmitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitServlet</servlet-name>
    <url-pattern>/SubmitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerHomeServlet</display-name>
    <servlet-name>ManagerHomeServlet</servlet-name>
    <servlet-class>com.revature.servlet.ManagerHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerHomeServlet</servlet-name>
    <url-pattern>/ManagerHomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllEmployeesServlet</display-name>
    <servlet-name>AllEmployeesServlet</servlet-name>
    <servlet-class>com.revature.servlet.AllEmployeesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllEmployeesServlet</servlet-name>
    <url-pattern>/AllEmployeesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeEmpsServlet</display-name>
    <servlet-name>HomeEmpsServlet</servlet-name>
    <servlet-class>com.revature.servlet.HomeEmpsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeEmpsServlet</servlet-name>
    <url-pattern>/HomeEmpsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeManServlet</display-name>
    <servlet-name>HomeManServlet</servlet-name>
    <servlet-class>com.revature.servlet.HomeManServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeManServlet</servlet-name>
    <url-pattern>/HomeManServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllRequestsServlet</display-name>
    <servlet-name>AllRequestsServlet</servlet-name>
    <servlet-class>com.revature.servlet.AllRequestsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllRequestsServlet</servlet-name>
    <url-pattern>/AllRequestsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpMasterServlet</display-name>
    <servlet-name>EmpMasterServlet</servlet-name>
    <servlet-class>com.revature.servlet.EmpMasterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpMasterServlet</servlet-name>
    <url-pattern>/EmpMasterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DecideRequestServlet</display-name>
    <servlet-name>DecideRequestServlet</servlet-name>
    <servlet-class>com.revature.servlet.DecideRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DecideRequestServlet</servlet-name>
    <url-pattern>/DecideRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpEditServlet</display-name>
    <servlet-name>EmpEditServlet</servlet-name>
    <servlet-class>com.revature.servlet.EmpEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpEditServlet</servlet-name>
    <url-pattern>/EmpEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManCheckServlet</display-name>
    <servlet-name>ManCheckServlet</servlet-name>
    <servlet-class>com.revature.servlet.ManCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManCheckServlet</servlet-name>
    <url-pattern>/ManCheckServlet</url-pattern>
  </servlet-mapping>
</web-app>