<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Page for Entering employee information">
    <meta name="author" content="Leonard Blumberg">
    
    <!-- Bootstrap core CSS -->
    <link href="../dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../styles/form-validation.css" rel="stylesheet">
    
	<title>View Employee Requests</title>
	<style>
        body{
            background-image: url(background.png);
        }
        
        .container {
        	align:"center";
       		padding:10px;
		   	background-color: #c2e7eb;
			border: solid;
			border-radius: 25px;
			border-color: #20B2AA;
			border-width: 5px;
        }
    </style>
</head>
<body>
	<div class="container" align = "center">
		<h1>Employee Requests</h1>
		<br>
		<div>
			<div class="bd-example">
				<table class="table table-hover" id="empReqTable">
				  <thead>
				    <tr>
				      <th>Employee ID</th>
				      <th>Amount</th>
				      <th>Message</th>
				      <th>Status</th>
				      <th>Reply</th>
				    </tr>
				  </thead>
				  <tbody id="empReqTableBody">
					
				  </tbody>
				</table>
			</div>
		</div>
	</div>
	<br>
	<div class="container" align="center">
		<a class="btn btn-primary btn-lg" href="../employee_home">Go Back</a>
	</div>
	<script src="../scripts/employeeRequest.js"></script>
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../bs_assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../bs_assets/js/vendor/popper.min.js"></script>
    <script src="../dist/js/bootstrap.min.js"></script>
    <script src="../bs_assets/js/vendor/holder.min.js"></script>
    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';

        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');

          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>
</body>
</html>