
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <style>
        .background{
            background-image: url(background.png);
        }
    </style>
    <title>Employee Homepage</title>

    <!-- Bootstrap core CSS -->
    <link href="dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="styles/signin.css" rel="stylesheet">
    <style>
    	body{
    		background-image: url(background.png);	
    	}
    	
    	
        .container {
        	align:"center";
       		padding:15px;
       		max-width:30%;
		   	background-color: #c2e7eb;
			border: solid;
			border-radius: 25px;
			border-color: #20B2AA;
			border-width: 5px;
        }
    </style>
  </head>

  <body class="text-center">
	  <div class="container">
	  	<h3 class="h3 mb-3 font-weight-normal">Employee Home</h3>
	  	<div class="btn-group btn-group-vertical">
		  	<a class="btn btn-primary btn-lg" id="employeeInfoBtn" href="views/employee_info.html">View/Update Information</a>
		  	<a class="btn btn-primary btn-lg" id="employeeViewReqBtn" href="views/employee_requests.html">View my Requests</a>
		  	<a class="btn btn-primary btn-lg" id="employeeSubmitReqBtn" href="views/new_request.html">Submit a Request</a>
		  	<a class="btn btn-primary btn-lg" id="employeeLogoutBtn" href="views/logout.html">Logout</a>
	  	</div>
      </div>
  </body>
</html>
