
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Page for Entering employee information">
    <meta name="author" content="Leonard Blumberg">

    <title>Update My Information</title>

    <!-- Bootstrap core CSS -->
    <link href="../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../styles/form-validation.css" rel="stylesheet">
    <style>
        body{
            background-image: url(background2.jpg);
        }
        
        .container {
        	align:"center";
       		padding:15px;
       		max-width:80%;
			background-color: #225ea8;
			border: solid;
			border-radius: 25px;
			border-color: #081d58;
			border-width: 5px;
        }
    </style>
  </head>

  <body class="bg-light">
	<div class="container" style="color:white">
		<div class="bd-example">
				<table class="table table-hover" id="empTable" >
				  <thead>
				    <tr>
				      <th>Employee ID</th>
				      <th>First Name</th>
				      <th>Last Name</th>
				      <th>Email</th>
				      <th>Phone</th>
				      <th>Job Title</th>
				    </tr>
				  </thead>
				  <tbody id="empTableBody">
					
				  </tbody>
				</table>
			</div>
	</div>
	<br><br>
	<div class="container">
		<form method="POST" action="../manager_info" style="color:white">
		   	<h4 class="mb-3" style="color:white;">Update Employee Information</h4>
	     	<div class="row">
	     	<div class="col-md-4 mb-3">
	          <label for="Emp_id">Employee ID</label>
	          <input type="number" class="form-control" name="Emp_id" id="Emp_id" placeholder="602" value=""  autofocus>
	        </div>
	        <div class="col-md-4 mb-3">
	          <label for="firstName">First name</label>
	          <input type="text" class="form-control" name="firstName" id="firstName">
	        </div>
	        <div class="col-md-4 mb-3">
	          <label for="lastName">Last name</label>
	          <input type="text" class="form-control" id="lastName" name="lastName">
	        </div>
	      </div>
	      <div class="row">
		      <div class="col-md-6 mb-3">
		        <label for="email">Email </label>
		        <input type="email" class="form-control" id="email" name="email">
		        <div class="invalid-feedback">
		          Please enter a valid email address
		        </div>
		      </div>
			
		      <div class="col-md-6 mb-3">
		        <label for="phone">Phone Number</label>
		        <input type="text" class="form-control" id="phone" name="phone">
		      </div>
	      </div>
		
	      <div class="mb-3" id="jobTitleDiv">
	        <label for="jobTitle">Job Title</label>
	        <input type="text" class="form-control" id="jobTitle" name="jobTitle">
	      </div>
	
	      <hr class="mb-4">
	      <button class="btn btn-primary btn-lg btn-block" type="submit">Submit changes</button>
			</form>
	</div> <br>
	<div class="container" align="center">
			<a class="btn btn-primary btn-lg" href="/ProjectNo1/manager_home">Go Back</a>
		</div>
	<script src="../scripts/managerInfo.js"></script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../bs_assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../bs_assets/js/vendor/popper.min.js"></script>
    <script src="../dist/js/bootstrap.min.js"></script>
    <script src="../bs_assets/js/vendor/holder.min.js"></script>
    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';

        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');

          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>
  </body>
</html>
