<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Page for Entering employee information">
    <meta name="author" content="Leonard Blumberg">
    
    <!-- Bootstrap core CSS -->
    <link href="../dist/css/bootstrap.min.css" rel="stylesheet">
    
	<title>View Employee Requests</title>
	<style>
        body{
    		background-image: url(background2.jpg);	
    	}
    	
    	
        .container {
        	align:"center";
       		padding:15px;
       		max-width:80%;
		   	background-color: #225ea8;
			border: solid;
			border-radius: 25px;
			border-color: #081d58;
			border-width: 5px;
        }
        
        h1 {
        	color:white;
        }
        
    </style>
</head>
<body>
	<div class="container" align = "center">
		<h1 style="color:white;">Employee Requests</h1>
		<br>
		<div>
			<div class="bd-example">
				<table class="table table-hover" id="empReqTable">
				  <thead>
				    <tr style="color:white;">
							<th>Request ID</th>
				      <th>Employee Name</th>
				      <th>Request Date</th>
				      <th>Amount</th>
				      <th>Message</th>
							<th>Status</th>
							<th>Image</th>
				    </tr>
				  </thead>
				  <tbody id="empReqTableBody">
					
				  </tbody>
				</table>
			</div>
		</div>
	</div> <br>
	<div class="container" style="color:white">
		<h3>Resolve Request</h3>
		<form method="POST">
			<div class="form-group" >
				<label for="reqID">Request ID:</label>
				<input type="number" min="0" class="form-control" id="reqID" name="requestID">
				<br>
				<div class="radio">
				<label><input type="radio" name="optradio">Approve</label>
				</div>
				<div class="radio">
					<label><input type="radio" name="optradio">Deny</label>
				</div>
				<br>
				<label for="response">Reply:</label>
				<textarea class="form-control" rows="3" id="response" name="replyTxt"></textarea> <br>
				<button class="btn btn-primary btn-lg" type="submit">Submit changes</button>
			</div>
		</form>
	</div>
	<br>
	<div class="container" align="center">
		<a class="btn btn-primary btn-lg" href="../manager_home">Go Back</a>
	</div>
	<script src="../scripts/managerRequest.js"></script>
</body>
</html>