
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <style>
        .background{
            background-image: url(background2.jpg);
        }
    </style>
    <title>Reimbursement System Sign in</title>

    <!-- Bootstrap core CSS -->
    <link href="dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="styles/signin.css" rel="stylesheet">
    <style>
    	body{
    		background-image: url(views/background2.jpg);	
    	}
    	
    	
        .container {
        	align:"center";
       		padding:15px;
       		max-width:30%;
		   	background-color: #225ea8;
			border: solid;
			border-radius: 25px;
			border-color: #081d58;
			border-width: 5px;
        }
    </style>
  </head>
  <body class="text-center">
	  <div class="container">
	  <div class="formgroup">
	  	<h3 class="h3 mb-3 font-weight-normal" style="color:white;">Manager Home</h3>
	  	<form>
		  	<div class="btn-group btn-group-vertical">
			  	<a class="btn btn-primary btn-lg" href="views/manager_info.html">View/Update Employee Information</a>
			  	<a class="btn btn-primary btn-lg" href="views/manager_requests.html">View All Requests</a>
			  	<a class="btn btn-primary btn-lg" href="views/submit_manager_requests.html">Submit a Request</a>
			  	<a class="btn btn-primary btn-lg" href="views/logout.html">Logout</a>
		  	</div>	
	  	</form>
	  	</div>
	  </div>
  </body>
</html>
