<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Employee Reimbursement Portal - Login Page</title>
<link rel="stylesheet" href="../styles/style.css"/>
</head>
<body>
<h1>Employee Reimbursement Portal</h1>
<h3>Login here</h3>
<div id="inputform">
<form>
			Your username: <input type="text" id="username"/><br>
			Your password :<input type ="password" id="password"/><br>
			<br>
			<br>
			<br>		
			 <input type="submit" id="submitButton" value="Login"/> 
			 <!--Submits the form data to the form handler -->
		
		</input>
			<br>
</form>
</div>
</body>
<script src="../scripts/loginscript.js"></script>
</html>