<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link REL="stylesheet" HREF="../styles/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-md" style="background-color: black; color:white">

  <button class="navbar-toggler" type="button" data-toggle="collapse"  style="background-color:red;"
data-target="#collapsibleNavbar">
   <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
	<li class="nav-item">
        <a class="nav-link" href="main.html">Main</a>
      </li>
	<li class="nav-item">
        <a class="nav-link" href="page2.html">Page 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="page3.html">Page 3</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="page4.html"> Page 4</a>
      </li>
    </ul>
</div>
</nav>
		<div>
			<form><!--Specifies url to which form will be submitted -->
			Your e-mail address: <input type="text"/><br>
			Your nickname: <input type ="text"/><br>
			<br>
			<br>
			Your recipe: <textarea name="message" rows="20" cols="40">Send us your favorite confectionary recipes!</textarea>
			<br>
			<br>
			
			<input type="submit" value="Send away!"/> <!--Submits the form data to the form handler -->
			<br>
			<br>
			</form>
		</div>	
<div id="constructionImg">
<img src="../images/candy-cane-origin.jpg" alt="candy cane" width="400">
</div>
<a href="main.html"> Back home! </a>
<ol>
<li><a href="https://www.ecolechocolat.com/en/how-chocolate-is-made.html"> 
A page about the chocolate making process
</a></li>
<li><a href="http://chocolatemuseum.my/"> 
Chocolate making museum in Malaysia
</a></li>
<li><a href="https://hersheystory.org/"> 
The Hershey Museum
</a></li>
</ol>
</p>




</body>
</html>
