@charset "UTF-8";
h1{
	font-family:"verdana","arial","sans-serif";
	text-align:center;
	background-color:powderblue;
	padding-top: 8px;
	padding-bottom: 3px;
}

h3{
	font-family:"verdana","arial","sans-serif";
	text-align:center;
	background-color:white;
	padding-top: 8px;
	padding-bottom: 3px;
}
body{
	font-family:"verdana","arial","sans-serif";
	text-align:center;
	background-image: url('../hSHmeL.jpg'); /*  no-repeat center center fixed;*/
    background-size: cover;
	background-color: rose;
	}
	
#inputform
{
	background-color:pink;
	color:"white";
	text-align:center;
	width: 300px;
	margin-left:auto;
	margin-right:auto;
}

#reimbursmentForm
{
	text-align:left;
	
}

#reimbursement
{
	/*text-align:left;*/
	margin-left:auto;
	margin-right:auto;
	width:450px;
}

#results{
	/*text-align:left;*/
	background-color:powderblue;
	margin-left:auto;
	margin-right:auto;
	width:450px;
}
#formcontainer
{
	padding:15px;
	background-color:powderblue;
	text-align:left;
	
}

#approvalForm, #viewForm,,#uploadForm
{
	padding:15px;
	background-color:powderblue;
	text-align:left;
	margin-left:auto;
	margin-right:auto;
	width: 700px;
}
table,td,th{
	background-color: white;
	border: 1px solid black;
	padding: 3px 10px 3px 10px;
}

.requestTable{
	margin-left:auto;
	margin-right:auto;
	width:800px;
}



#employeeFilterPrompt{
	background-color: white;
	color:white;
}
