.inputDiv {
    margin: 20px;
    padding: 20px;
    font: Helvetica, Courier;
}

.answerDiv {
  margin: 20px;
  padding: 20px;
  border: solid 5px black;
  font: Helvetica, Courier;
  background-color: #33cc33;

}
