
<!-- <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
<!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->

<!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
<!--Pulling Awesome Font -->
<!-- <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"> -->
<link rel="stylesheet" href="styles/ProfileStyle.css">
 <header>Dunder Mifflin</header>
<div class="container">

    <div class="row">
    	<br>
    	<br>
    	<br>
    	<br>
        <div class="col-md-offset-5 col-md-3">
            <div class="form-login">
            	<h4>Please Log In</h4>
            	<form class="box" action="loginPage" method="post">
					<fieldset>
						<legend>username: </legend>
						<input name="username">
					</fieldset>
				<fieldset>
					<legend>password: </legend>
					<input name="password" type="password">
				</fieldset>
				<br>
				<button type = "submit" class="btn btn-primary btn-md" formMethod="post">login</button>
				</form>

            </div>
        
        </div>
    </div>
</div>