<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Upload Request</title>
<link rel="stylesheet" href="styles/ProfileStyle.css">
</head>
<body>
	<div id="div">
	<h1>Please Describe Your Request</h1>
	<form action="NewRequest">
			<fieldset>
				<legend> Requested Amount: </legend>
				<input type="text" name="requestAmount" id="requestAmount" class="button"/>
				<legend> Request Description: </legend>
				<input type="text" name="description" class="button" id="description"/>
			</fieldset>
			<input type ="submit" id="submit_btn" value = "submit" class="button"formMethod="post">
	</form>
		
	</div>
</body>
</html>