<!DOCTYPE html>
<html>
<head>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->
<link rel="stylesheet" href="styles/ProfileStyle.css">
<meta charset="ISO-8859-1">
<title>Profile</title>
</head>
 <div id="header"  >
    <h1 style = "color:white">Dunder Mifflin</h1> 
    </div>
<body class = "bodyTextClass">
	<div class="box">
	<div class="page-header">
 
  </div >
  <center>
		<h4 id="Name"></h4>
		<img src="http://localhost:8084/Project1Reimbersments/DisplayImage" width = "200px" height = "200px">
		<p id="email"></p>
		<div>
		</div>
		<a href ="ViewRequestsServlet" class ="button">View Current Requests</a>
		<br>
		<br>
		<a href ="ViewResolvedRequests" class ="button">View Resolved Requests</a>
		<br>
		<br>
			<a href="RequestDocumentServlet" class ="button">Upload a New Reimbersment Request Document</a>
		<br>
		<br>
		<a href="NewRequest" class ="button">Create a New Request</a>
		<br>
		<br>
		<a href="Logout" class ="button">Logout</a>
	</center>
	</div>
</body>
<script src = "scripts/profileScript.js"></script>
</html>