<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Upload Request</title>
<link rel="stylesheet" href="styles/ProfileStyle.css">
</head>
<body>
	<div id="div">
	<h1>Please Upload Your Document For Review By Your Manager</h1>
	<form action="http://localhost:8084/Project1Reimbersments/RequestDocumentServlet" method="post">
			<fieldset>
				<legend> filename: </legend>
				<input type="file" name="file" id="image" accept="image/*"class="button"/>
				<input type ="submit" id="submit_btn" value = "submit" class="button">
			</fieldset>
			
	</form>
		
	</div>
</body>
<script src = "scripts/Request.js"></script>
</html>