<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Calculator</title>
<link rel="stylesheet" href="../styles/CalculatorStyles.css" />
</head>


<body>
	
	<div class="divWithText">
		<p>Number 1 (n1):</p>
		<input type="number" id="number1" />
	</div>
	
	<div class="divWithText">
		<p>Number 2 (n2):</p>
		<input type="number" id="number2" />
	</div>
	
	<div class="divWithText">
		<p>Answer:</p>
	</div>
	
	<div id="answer"></div>

	<div class="functionDiv">
		<button id = "addButton">Add Numbers</button>
	</div>

	<div class="functionDiv">
		<button id = "subtractButton">Subtract Numbers(n1 - n2)</button>
	</div>

	<div class="functionDiv">
		<button id = "multiplyButton">Multiply Numbers</button>
	</div>

	<div class="functionDiv">
		<button id = "divideButton">Divide Numbers(n1 / n2)</button>
	</div>

</body>

<script src="../scripts/calculatorFunctions.js"></script>

</html>