<!DOCTYPE html>
<html>
<head>
<title>HelloWorld</title>
<link rel="stylesheet" href="../styes/HelloWorldStyles.css"/>

</head>
<body>

<div class="functionDiv">
<button onclick="count()">Increment!</button>
</div>
<div class="functionDiv">
<button onclick="appleCounter()">Increment apples!</button>
</div>
<div class="functionDiv">
<button onclick="orangeCounter()">Increment oranges!</button>
</div>
<div class="displayDiv" id = "bearDiv"> 
<button onClick="showBears()"> Show Bears! </button>
<br>
<br>

</div>
</body>
<script src= "../scripts/closure.js"></script>
</html>
