div {
  background-color: #41b6c4;
}
.classOne {
  color : #005824;
  font-family : "courier new",cursuve,sans-sans-serif;
  text-align : center;
}

h1{
  font-size: 100px;
}
img{
  height : 200px;
  width : 400px;
  display: block;
  border : 10px dotted red;
  padding : 10px;
}

label, textarea{
  display: block;
}

textarea{
  resize:none;
}
