<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Employee Home Page</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="styles/styles.css">
</head>
<body>
	<div class="container text-center">
		<div class="btn-group btn-group-justified">
	 		<a href="/ExpenseReimbursements/logout" class="btn btn-outline-secondary">Logout</a>
		</div>
		<h3 id="currentUser"></h3>
		<br><br>
		
		<div class="col">
		<h4>What would you like to do today</h4>
			<form action="employeeAction" method="POST">
				<div class="form-group">
					<select name="destination" class="custom-select">
						<option value="submitRequest">Submit a reimbursement request</option>
						<option value="viewEmpPendingRequests">View Your Pending Requests</option>
						<option value="viewEmpResolvedRequests">View Your Resolved Requests</option>
						<option value="viewEmpInfo">Personal Information</option>
					</select>
				</div>
				<div class="form-group">
					<button type="submit" id="button" class="btn btn-outline-primary">Take Me There!</button>
				</div>
					
			</form>		
		</div>
	</div>

</body>
<script src="scripts/checkUser.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"></script>
</html>