<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Employee Reimbursements</title>
<link rel="stylesheet" href="../styles/styles.css" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

</head>
<body>
	<div class="container">
		<div class="btn-group btn-group-justified">
	  		<a href="/ExpenseReimbursements/redirectHome" class="btn btn-outline-secondary">Home</a>
	 		<a href="/ExpenseReimbursements/logout" class="btn btn-outline-secondary">Logout</a>
		</div>
		<h1>This is <span name="fullName"></span>'s information</h1>
	
		<table class="table table-hover">
			<tr>
				<th>First Name:</th>
				<td name="firstName"></td>
			</tr>
			<tr>
				<th>Last Name:</th>
				<td name="lastName"></td>
			</tr>
			<tr>
				<th>Username:</th>
				<td name="username"></td>
			</tr>
			<tr>
				<th>Email:</th>
				<td name="email"></td>
			</tr>
		</table>
		<div id="tables"></div>
		
		<img id="downloadImg"/>
		
	</div>

	
	
</body>
<script src="../scripts/employeeDetails.js"></script>
</html>