<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Employee Information</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="styles/styles.css">
</head>
<body>
	<div class="container text-center">
		<div class="btn-group btn-group-justified">
	  		<a href="/ExpenseReimbursements/redirectHome" class="btn btn-outline-secondary">Home</a>
	 		<a href="/ExpenseReimbursements/logout" class="btn btn-outline-secondary">Logout</a>
		</div>
		<h1>Here is your information</h1>
			<table id="empInfo" class="table table-striped">
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
					<th>Username</th>
					<th>Password</th>
				</tr>
			</table>
		
		<h3>Update Information</h3>
		<form action="/ExpenseReimbursements/update" method="POST" class="form-control">
			<div class="form-group row">
				  <label for="firstName" class="col-2 col-form-label">First Name:</label>
				  <div class="col-10">
				    	<input class="form-control" type="text" name="firstName">
				  </div>
			</div>
			<div class="form-group row">
				  <label for="lastName" class="col-2 col-form-label">Last Name:</label>
				  <div class="col-10">
				    	<input class="form-control" type="text" name="lastName">
				  </div>
			</div>
			<div class="form-group row">
				  <label for="email" class="col-2 col-form-label">Email:</label>
				  <div class="col-10">
				    	<input class="form-control" type="email" name="email">
				  </div>
			</div>
			<div class="form-group row">
				  <label for="username" class="col-2 col-form-label">Username:</label>
				  <div class="col-10">
				    	<input class="form-control" type="text" name="username">
				  </div>
			</div>
			<div class="form-group row">
				  <label for="password" class="col-2 col-form-label">Password:</label>
				  <div class="col-10">
				    	<input class="form-control" type="password" name="password">
				  </div>
			</div>
			<button type="submit" class="btn btn-outline-primary">Update Information</button>
		</form>
	</div>
</body>
<script src="scripts/userInfo.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"></script>
</html>