<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<a href="/ExpenseReimbursements/logout">Logout</a>
	<a href="/ExpenseReimbursements/redirectHome"><button>Take me back to the homepage!</button></a>
	<h1>Here is your pending request information</h1>
	<table id="pendingRequests">
		<tr>
			<th>Reimbursement Id</th>
			<th>Amount Requested</th>
			<th>Date Submitted</th>
			<th>Resolved By Manager</th>
			<th>Status</th>
		</tr>
	</table>

</body>
<script src="scripts/empResolved.js"></script>
</html>