<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="ISO-8859-1">
    <title>Company | New Employee</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../styles/form-validation.css">
    <link rel="stylesheet" type="text/css" href="../styles/main.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
      <a class="navbar-brand col-sm-6 col-md-6 mr-0" href="home.html" title="Home">Company Expense Reimbursement System</a>
      <ul class="navbar-nav ml-auto px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="new-request.html">New Request</a>
        </li>
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="profile.html">Profile</a>
        </li>
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="../index.html">Sign out</a>
        </li>
      </ul>
      </div>
    </nav>
    <main>
      <br>
      <div class="container">
        <div class="py-5 text-center">
          <h2>Calvin Milliron</h2>
          <p class="lead">CEO of Company</p>
        </div>

        <div class="row">

          <div class="col-md-12 order-md-1">
            <h4 class="mb-3">New Employee</h4>
            <form class="needs-validation" novalidate>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="firstName">First name</label>
                  <input type="text" class="form-control" id="firstName" placeholder="John" value="" required>
                  <div class="invalid-feedback">
                    Valid first name is required.
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="lastName">Last name</label>
                  <input type="text" class="form-control" id="lastName" placeholder="Doe" value="" required>
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div>
                </div>
              </div>

              <div class="mb-3">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="name@company.com" required>
                <div class="invalid-feedback">
                  Please enter a valid email address for shipping updates.
                </div>
              </div>
              <div class="mb-3">
                <label for="job-title">Job Title</label>
                <input type="text" class="form-control" id="job=title" placeholder="Associate" required>
                <div class="invalid-feedback">
                  Please enter a valid email address for shipping updates.
                </div>
              </div>

              <!--  ****Force password field to be NOT NULL, Use JSP to generate random string, save to DB and email to employee*****

              <div class="mb-3">
                <label for="password">Password</label>
                <div class="input-group">
                  <input type="password" class="form-control" id="password" placeholder="Password" required>
                  <div class="invalid-feedback" style="width: 100%;">
                    Your username is required.
                  </div>
                </div>
              </div>

              <div class="mb-3">
                <label for="address">Address <span class="text-muted">(Optional)</span></label>
                <input type="text" class="form-control" id="address" placeholder="1234 Main St">
                <div class="invalid-feedback">
                  Please enter your shipping address.
                </div>
              </div>

              <div class="mb-3">
                <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
                <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
              </div>

              <div class="row">
                <div class="col-md-5 mb-3">
                  <label for="country">Country <span class="text-muted">(Optional)</span></label>
                  <select class="custom-select d-block w-100" id="country" required>
                    <option value="">Choose...</option>
                    <option>United States</option>
                  </select>
                  <div class="invalid-feedback">
                    Please select a valid country.
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <label for="state">State <span class="text-muted">(Optional)</span></label>
                  <select class="custom-select d-block w-100" id="state" required>
                    <option value="">Choose...</option>
                    <option>California</option>
                  </select>
                  <div class="invalid-feedback">
                    Please provide a valid state.
                  </div>
                </div>
                <div class="col-md-3 mb-3">
                  <label for="zip">Zip <span class="text-muted">(Optional)</span></label>
                  <input type="text" class="form-control" id="zip" placeholder="" required>
                  <div class="invalid-feedback">
                    Zip code required.
                  </div>
                </div>
              </div>
              -->
              
              <hr class="mb-4">
              <button class="btn btn-primary btn-lg btn-block" type="submit">Send Welcome Email</button>
            </form>
          </div>
        </div>
      </div>
    </main>
    
    <br><br>
    
    <div class="row text-center">
      <div class="col-md-12 mb-1">
        <a href="home.html">View All Open Requests</a> &nbsp; &bull; &nbsp;  <a href="closed-requests.html">View All Closed Requests</a> &nbsp; &bull; &nbsp;  <a href="view-employees.html">View All Employees</a>
      </div>
    </div>
    
    <br><br><br><br>

    <script src="main.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>