@charset "ISO-8859-1";

body  {
    background-image: url("http://cdn.mysitemyway.com/etc-mysitemyway/webtreats/assets/posts/976/full/tileable-light-blurs-and-abstract-circles-18.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}