<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login</title>
<link
	href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<link
	href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
	rel="stylesheet">
</head>
<body>


	

	<div class="container">
		<div class="row">
			<div class="col-md-offset-5 col-md-3">
				<div class="form-login">
					<h4>Welcome</h4>
					<input type="text" id="userName"
						class="form-control input-sm chat-input" placeholder="username" />
					</br> <input type="text" id="userPassword"
						class="form-control input-sm chat-input" placeholder="password" />
					</br>
					<div class="wrapper">
						<button class="btn-primary" id="loginButton">Login</button>
					</div>
				</div>

			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="scripts/login.js"></script>
</html>