<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>FrontControllerDemo</display-name>
 <servlet>
 	<servlet-name>bear</servlet-name>
 	<servlet-class>com.revature.servlet.BearServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 	<servlet-name>bear</servlet-name>
 	<url-pattern>/bear</url-pattern>
 </servlet-mapping>
</web-app>