<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
        <property name="connection.driver_class">org.h2.Driver</property>
        <property name="connection.url">jdbc:h2:./testDB/test</property>
        <property name="connection.username">sa</property>
        <property name="connection.password"/>
        
        <property name="hibernate.default_schema">PUBLIC</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">create</property>
        
		<!-- map domain object classes -->
		<mapping class="com.revature.beans.Bucket"/>
		<mapping class="com.revature.beans.Question"/>
		<mapping class="com.revature.beans.QuestionScore"/>
		<mapping class="com.revature.beans.QuestionTag"/>
		<mapping class="com.revature.beans.Screener"/>
		<mapping class="com.revature.beans.Screening"/>
		<mapping class="com.revature.beans.SimpleTrainee"/>
		<mapping class="com.revature.beans.SoftSkillViolation"/>
		<mapping class="com.revature.beans.Tag"/>
		<mapping class="com.revature.beans.Track"/>
		<mapping class="com.revature.beans.TrackBucket"/>
		
	</session-factory>
</hibernate-configuration>