<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Ajax et al</title>
	<link rel="stylesheet" href="../styles/HelloWorldStyles.css" />
	<style type="text/css">
		#toggleDiv {
			height: 100px;
			width: 100px;
		}
	</style>
</head>

<body>
	<div class="displayDiv">
		<h4>enter a pokemon id: </h4>
		<input type="number" id="pokeId"/>
		<button type="button" id="pokeButton">What's its name?</button>
		<div class="displayDiv" id="pokeResult"></div>
	</div>
	<div id="toggleDiv"></div>
	<br>
	<br>
	<button onclick="stopColor()">make it stop!!</button>
</body>
<script type="text/javascript" src="../scripts/ajaxEtc.js"></script>
</html>