<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Ajax n moar</title>
<link rel="stylesheet" href="../styles/HelloWorldStyles.css" />
</head>
<body>
	<div class='displayDiv'>
		<h4>enter a pokemon id</h4>
		<input type="number" id="pokeId" />
		<button type="button" id="pokeButton">What's its name?</button>
		<div class="displayDiv" id="pokeResult"></div>
	</div>
	<div id="toggleDiv" style="width:500px; height: 100px;"></div>
		<br>
	<br>
	<button onclick="stopColor()"> make it stop! </button>
	<script src="../scripts/ajaxEtc..js"></script>

</body>
</html>