<!DOCTYPE html>
	<html>
		<head>
			<meta charset="UTF-8">
			<title>Ajax et al</title>
			<link rel="stylesheet" href="../styles/helloWorldStyles.css"/>
			<style>
				#toggleDiv{
					height: 100px;
					width: 100px;
				}
			</style>
		</head>
		<body>
			<div class="displayDiv">
				<h4>enter a pokemon id</h4>
				<input type="number" id="pokeId"/> <br>
				<button type="button" id="pokeButton">What's it name?</button>
				<div class="displayDiv" id="pokeResult"></div>
			</div>
			<div id="toggleDiv"></div> <br><br>
			<button onclick="stopColor()">pls STAHP!!!</button>
		</body>
		<script type="text/javascript" src="../scripts/ajaxEtc.js"></script>
	</html>