<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Errors</title>
<link rel="stylesheet" href="../styles/HelloWorldStyles.css"/>
</head>
<body>
	<div class="displayDiv">
		<p>Please input a number between 5 and 10: </p>
		<input id="number">
		<button type="button" id="b1">Test input</button>
	</div>
	<div class="displayDiv" id="message"></div>
</body>
<script>
	var num = 1;
	/*
	try {
		num.toPrecision(500);
	} catch (err) {
		console.log(err);
	} */
	function test(input) {
		var message = document.getElementById("message");
		message.innerHTML = "all good";;
		try {
			if (!input) throw "empty";
			if (isNaN(input)) throw "not a number";
			x = Number(input);
			if (x < 5) throw "too low";
			if (x > 10) throw "too high";
		} catch (err) {
			message.innerHTML = "input is: " + err;
		}
	}
	document.getElementById("b1").addEventListener("click", function() {
		test(document.getElementById("number").value);
	});
</script>
</html>