<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Events</title>
<link rel="stylesheet" href="../styles/helloWorldStyles.css">
</head>
<body>

	<div class="displayDiv">
		<p>mouse x position</p>
		<p id="mouseX"></p>
		<p>mouse y position</p>
		<p id="mouseY"></p>
	</div>

	<div id="divWithText" class="displayDiv">
		<p id="p1">At home you have unlimited time. Even the worst thing
			we can do here is good. Let's build an almighty mountain. If you
			don't think every day is a good day - try missing a few. You'll see.
			Let's make a nice big leafy tree. There we go. No worries. No cares.
			Just float and wait for the wind to blow you around. You are only
			limited by your imagination. I will take some magic white, and a
			little bit of Vandyke brown and a little touch of yellow. Let's put
			some happy little bushes on the other side now. You've got to learn
			to fight the temptation to resist these things. Just let them happen.
			Just beat the devil out of it. Paint anything you want on the canvas.
			Create your own world. I thought today we would do a happy little
			picture. Let all these little things happen. Don't fight them. Learn
			to use them. Trees get lonely too, so we'll give him a little friend.
			When you do it your way you can go anywhere you choose. We have no
			limits to our world. We're only limited by our imagination. Just
			relax and let it flow. That easy. If it's not what you want - stop
			and change it. Don't just keep going and expect it will get better.
			If what you're doing doesn't make you happy - you're doing the wrong
			thing. Put it in, leave it alone. We'll make some happy little bushes
			here. If you didn't have baby clouds, you wouldn't have big clouds.
			Use what you see, don't plan it. Mix your color marbly don't mix it
			dead. There is no right or wrong - as long as it makes you happy and
			doesn't hurt anyone. No pressure. Just relax and watch it happen.

			Let's do that again. I think there's an artist hidden in the bottom
			of every single one of us. Let your heart take you to wherever you
			want to be. Remember how free clouds are. They just lay around in the
			sky all day long.
			</p>
	</div>

	<div id="div3" class="displayDiv">
		<div id="div4" class="displayDiv" onclick="alert ('hello from div4')">
			<div id="div5" class="displayDiv">
				<div id="div6" class="displayDiv"></div>
			</div>
		</div>
	</div>

</body>
<script src="../scripts/events.js"></script>
</html>