<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Events</title>
	<link rel="stylesheet" href="../styles/HelloWorldStyles.css">
</head>
<body>
	
	<div id = "divWithMouse" class="displayDiv">
		<p id ="p1">Mouse X position: </p><p id = "mouseX"> </p>
		<p id ="p2">Mouse Y position: </p><p id = "mouseY"> </p>
	</div>

	<div id="divWithText" class="displayDiv">
		<p> 
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet dictum sit amet. Malesuada fames ac turpis egestas integer eget. Vel eros donec ac odio tempor orci dapibus ultrices. Ultrices dui sapien eget mi proin sed libero enim. Faucibus nisl tincidunt eget nullam non. Etiam non quam lacus suspendisse faucibus interdum posuere lorem ipsum. Rutrum tellus pellentesque eu tincidunt. Egestas diam in arcu cursus euismod quis viverra. Eu mi bibendum neque egestas congue. Egestas pretium aenean pharetra magna. Vestibulum lorem sed risus ultricies. Lorem ipsum dolor sit amet consectetur. Mi eget mauris pharetra et ultrices. Amet massa vitae tortor condimentum lacinia quis vel. Velit ut tortor pretium viverra suspendisse potenti nullam ac. Ac tortor vitae purus faucibus ornare suspendisse. Arcu vitae elementum curabitur vitae nunc sed velit dignissim.
		</p>
	</div>
	
	<div id="div3" class="displayDiv">
		<div id="div4" class="displayDiv">
			<div id="div5" class="displayDiv">
			</div>
		</div>
	</div>

</body>
<script src="../scripts/event.js"></script>
</html> 