<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>HelloWorld</title>
<link rel="stylesheet" href="../styles/HelloWorldStyles.css" />
</head>
<body>
	<div class="functionDiv">
		<button onclick="counter()">Increment!</button>
	</div>
	<div class="functionDiv">
		<button onclick="appleCounter()">Increment Apples!</button>
	</div>
	<div class="functionDiv">
		<button onclick="orangeCounter()">Increment Oranges!</button>
	</div>
	<div class="displayDiv" id="bearDiv">
		<button onclick="showBears()">Show Bears!</button>
		<br> <br>
	</div>
</body>
<script src="../scripts/closure.js"></script>
<script src="../scripts/parse.js"></script>
</html>