header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
    font-size:40px;
}
body {
    height: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color:#F1F1D4;
}
h1{
	font-size: 32px;
	font-color: white;
}
#header{
	background-color: black; 
	width: 500px;
}
.button {
	background-color: black; 
	border: none;
	color: white;
	padding: 15px 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	border-radius: 7px;
	margin: 5px;
}

.bodyTextClass {
	color:black;
	font-family: Courier;
	font-size: 30px;
}